#header{
    background:blue;

}
li {
    display: inline;
    position: relative;
    text-outline: 60px;
    left: 850px;
    top:-50px;
    color:gray;
}
h2{
    position: relative;
    color:aqua;
}
img{
    display:block;
}

#intro{
    position: relative;
}
body{
    background-color:texture;
}